
<div class="container">
  <div class="row">
        <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="six columns justify">
          <a href="/moving"><button class="button button-primary">Moving a Patient</button></a>
    </div>
    <div class="six columns justify">
      <a href="/patients"><button class="button button-primary">Patient Location List</button></a>
    </div>
  </div>
</div>
