

<div class="container">
  <form class="" action="./transit" method="get">
    <div class="row">
      <div class="tweleve columns">
        <label name=NHI>Search by NHI</label>
        <input type="text"  name="NHI">
        <input type='submit' class=button-primary value='Submit'>
      </div>
    </div>
  </form>
</div>
