<h1>All the pts</h1>



  {{#each cats}}
      <div class="cat">
        <h2>{{this.id}}</h2>
        <h2>{{this.firstName}}</h2>
        <h3>{{this.lastName}}</h3>
        <p>{{this.NHI}}</p>
    </div>
  {{/each}}
